$backgroundColor: #F8F8F8;
$buttonBackground: #5382E7;
$buttonFontcolor: #FFFFFF;
$backgroundColorWraps: rgba(255, 255, 255, 1);
$fontGraphColor: #2B3844;
$fontSizeH2: 18px;
$fontWeightH2: 600;

.container{
  width: 100vw;
  height: 100vh;
  background: $backgroundColor;
}
.wrapper{
  padding: 50px 50px ;

  .headWrapper{
    display: flex;
    justify-content: space-between;

    .headWrapperTitle{
      h1{
        font-weight: 700;
        margin: 0 0 8px 0;

        font-size: 36px;
      }
      p{
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        opacity: 0.7;
      }
    }

    .wrapperButton{
      display: flex;
      width: 12vw;
      height: 5vh;
      background-color: $buttonBackground;
      border-radius: 3px;
      color: $buttonFontcolor;
      align-items: center;
      font-size: 14px;
      justify-content: center;

    }

  }
  .saleWrap{
    color: $fontGraphColor;
    display: flex;
    height: 70vh;
    .saleSchedule{
      width: 40%;
      padding-left: 9px;
      margin-right: 24px;
      .saleDay{

        background-color: $backgroundColorWraps;

        h2{
          padding: 20px 0 0 30px;
          font-size: $fontSizeH2;
          font-weight: $fontWeightH2;
        }
        .ovalDiagram{
          display: flex;
          align-items: center;
          margin-top: 30px;

          .analyticList{
            font-size: 12px;
            width: 50%;
            height: 20%;
            list-style: none;
            padding: 0 50px 0 50px;
              .analyticItem{
              font-size: 13px;
              display: flex;
              align-items: center;
              padding-bottom: 10px;
              border-bottom: 1px solid rgba(227, 225, 225, 0.3);
              p{
                  margin-left: 15px;
              }
            }

          }
        }
      }
      .saleTotal{
        height: 35%;
        background-color: $backgroundColorWraps;
          h2{
            padding: 20px 0 0 30px;
            font-size: $fontSizeH2;
            font-weight: $fontWeightH2;
          }
          .vectorDiagram{
            justify-content: center;
            text-align: center;

            p{
              margin-top: 50px;
              font-size: 24px;
              font-weight: $fontWeightH2;
            }
        }

      }
    }
    .saleOverview{
      width: 65%;
      background-color: $backgroundColorWraps;
      font-size: $fontSizeH2;
      font-weight: $fontWeightH2;
      h2{
        padding: 20px 0 0 30px;
        font-size: $fontSizeH2;
        font-weight: $fontWeightH2;
      }
      p{
        font-weight: 400;
        font-size: 12px;
      }
    }
  }
}
