$titleFontColor: #2B3844;
$iconFontColor: #FFFFFF;
$iconBackgroundColor: rgba(83, 130, 231, 1);

.container{
  width: 19%;
  height: 100vh;
  .logoWrap{
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: center;
    color: $iconFontColor;
    text-transform: uppercase;

    .logoIconText{
      display: block;
      color: black;
    }
    .logoIconWrap{
      display: flex;
      width: 48px;
      height: 26px;
      background: $iconBackgroundColor;
      margin-left: 10px;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
    }

  }
  .navWrap{
    height: 20vh;

    .navList{
      padding-left: 30px;

      .navItem{
        display: flex;
        padding-bottom: 30px;
        &:hover{
          color: $iconBackgroundColor ;
          border-right-color: blue;
        }
        }



    }

  }



}

